@{
    Layout = "_HomeLayout";
}

<style>
    body {
        height: 100vh;
    }

    .card-container {
        width: 450px;
        box-shadow: 0 0 10px #383838;
    }

    .card-title {
        color: #2b6cac;
    }

</style>

<div class="container-fluid d-flex justify-content-around mt-5 g-3 flex-wrap">
    <div class="card-container p-5">
        <p class="card-title fs-3 fw-bold mb-3">التدريس المبتكر</p>
        <p>
            يسعى أعضاء هيئة التدريس لدينا إلى تعزيز ثقافة الابتكار، وتزويد الطلاب بأحدث الأدوات والمعرفة لمواجهة تحديات عصر الرقمية. هدفنا هو إلهام القادة المستقبليين في مجال التكنولوجيا من خلال التركيز على التعلم العملي وحل المشكلات الواقعية.
        </p>
    </div>
    <div class="card-container p-5">
        <p class="card-title fs-3 fw-bold mb-3">البحث المتقدم</p>
        <p>
            نحن ملتزمون بتطوير مجال علوم الحاسب من خلال الأبحاث المؤثرة. يشارك أعضاء هيئة التدريس لدينا في دراسات رائدة تدفع الابتكار في مجالات مثل الذكاء الاصطناعي، والأمن السيبراني، وعلوم البيانات.
        </p>
    </div>
    <div class="card-container p-5">
        <p class="card-title fs-3 fw-bold mb-3">بيئة تعاونية</p>
        <p>
            التعاون هو جوهر عملنا في الكلية. نشجع الطلاب وأعضاء هيئة التدريس على حد سواء للعمل معًا، ومشاركة الأفكار والحلول للمشاكل المعقدة. تساعد هذه الطريقة التعاونية الطلاب على الاستعداد لعالم التكنولوجيا الديناميكي والمتصل.
        </p>
    </div>
</div>


